<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
</head>
<body>
    <h2>Anasayfa Hoşgeldiniz</h2>
  
    <form action="toplam" method="post">
        <input type="number" name="number1">
        <input type="number" name="number2">
        <button type="submit">Gönder</button>
    </form>
    <!-- <br>
    
    Mesaj: {{message}}

    {% if message %}
        <p>{{ message}} </p>
    {% else %}
        <p>Mesaj gönderilmedi </p>

    {% endif %}
    <ul>
     {% for number in numbers  %}
        <li>
            {{number}}
        </li>
         
     {% endfor %}
    </ul> -->
</body>
</html>